In [ ]:
import pandas as pd

# Importing CSV file
df = pd.read_csv('/content/bug-attraction.csv')

data_types = df.dtypes
print(data_types)

duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

df.info()

df.describe()

df.isnull().sum()

Light Type                     object
Model Lamp                     object
Location                       object
Site                           object
Standardized Moon             float64
Standardized Mean Temp        float64
Standardized Mean Humidity    float64
Standardized Max Wind         float64
% Moon Visible                float64
Start Tem                     float64
End Temp                      float64
Mean Temp                     float64
Humid Start                     int64
Humid End                       int64
Mean Humidity                 float64
Max Wind                      float64
Illumination                    int64
Diptera                       float64
Hymenoptera                   float64
Hemiptera                     float64
Psocoptera                    float64
Coleoptera                    float64
Collembola                    float64
Arachnid                      float64
Thysanura                     float64
Isoptera                      float64
Lepidoptera                   float64
Neuroptera                    float64
Larave                        float64
Orthoptera                    float64
Unident                       float64
Total                         float64
Other Orders                  float64
dtype: object
Number of duplicate rows: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Light Type                  192 non-null    object
 1   Model Lamp                  192 non-null    object
 2   Location                    192 non-null    object
 3   Site                        192 non-null    object
 4   Standardized Moon           192 non-null    float64
 5   Standardized Mean Temp      192 non-null    float64
 6   Standardized Mean Humidity  192 non-null    float64
 7   Standardized Max Wind       192 non-null    float64
 8   % Moon Visible              192 non-null    float64
 9   Start Tem                   192 non-null    float64
 10  End Temp                    192 non-null    float64
 11  Mean Temp                   192 non-null    float64
 12  Humid Start                 192 non-null    int64
 13  Humid End                   192 non-null    int64
 14  Mean Humidity               192 non-null    float64
 15  Max Wind                    192 non-null    float64
 16  Illumination                192 non-null    int64
 17  Diptera                     191 non-null    float64
 18  Hymenoptera                 191 non-null    float64
 19  Hemiptera                   191 non-null    float64
 20  Psocoptera                  191 non-null    float64
 21  Coleoptera                  191 non-null    float64
 22  Collembola                  190 non-null    float64
 23  Arachnid                    191 non-null    float64
 24  Thysanura                   191 non-null    float64
 25  Isoptera                    191 non-null    float64
 26  Lepidoptera                 191 non-null    float64
 27  Neuroptera                  191 non-null    float64
 28  Larave                      191 non-null    float64
 29  Orthoptera                  191 non-null    float64
 30  Unident                     191 non-null    float64
 31  Total                       191 non-null    float64
 32  Other Orders                190 non-null    float64
dtypes: float64(26), int64(3), object(4)
memory usage: 49.6+ KB

Light Type                    0
Model Lamp                    0
Location                      0
Site                          0
Standardized Moon             0
Standardized Mean Temp        0
Standardized Mean Humidity    0
Standardized Max Wind         0
% Moon Visible                0
Start Tem                     0
End Temp                      0
Mean Temp                     0
Humid Start                   0
Humid End                     0
Mean Humidity                 0
Max Wind                      0
Illumination                  0
Diptera                       1
Hymenoptera                   1
Hemiptera                     1
Psocoptera                    1
Coleoptera                    1
Collembola                    2
Arachnid                      1
Thysanura                     1
Isoptera                      1
Lepidoptera                   1
Neuroptera                    1
Larave                        1
Orthoptera                    1
Unident                       1
Total                         1
Other Orders                  2
dtype: int64